<%= @i = 1 %>
<div class="accordion" id="spells-accordion">
  <%= render 'spell_list_partial', spell_ids: @everyone_needs_ids, table_caption: "Everyone" %>

  <% @characters.each do |character| %>
    <%= render 'spell_list_partial', spell_ids: character.needed_spell_ids, table_caption: character.name, character_avatar: character.avatar %>
  <% end %>
</div>